.footer {
    background: var(--color-7bf);
    padding: 64px 0;
    .footer-logo {
        max-width: 246px;
        min-width: 246px;
    }
    .footer-top {
        border-bottom: 1px solid rgba(255,255,255,0.4);
        padding-bottom: 32px;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul {
            display: flex;
            li {
                padding-right: 15px;
                margin-right: 15px;
                border-right: 1px solid var(--color-white);
                line-height: 1;
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: 0;
                }
                a {
                    font-size: 20px;
                    font-weight: 400;
                    color: var(--color-white);
                    &:hover {
                        color: var(--color-52);
                    }
                }
            }
        }
        p {
            font-size: 20px;
            font-weight: 400;
            color: var(--color-white);
            margin-bottom: 0;
            span {
                font-weight: 500;
            }
        }
    }
    .footer-menu {
        display: flex;
        gap: 56px;
        li {
            a {
                color: var(--color-white);
                font-size: 20px;
                &:hover {
                    color: var(--color-52);
                }
            }
        }
    }
}
.newsletter-sec {
    padding: 100px 0;
    background: #006BDE;
}