.left-panel {
    background: var(--color-blue);
    padding-top: 88px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 709px;
    flex-basis: 709px;
    height: 100vh;
    overflow-y: auto;

    .top-part {
        padding: 0 40px 135px;

        h1 {
            font-size: 72px;
            font-weight: 700;
            line-height: 1.2;
            color: rgba(255, 255, 255, 0.2);
            margin-bottom: 40px;
            text-align: center;
            font-style: italic;
            max-width: 610px;
        }

        h6 {
            text-align: right;
            font-size: 20px;
            font-weight: 700;
            color: var(--color-white);
            margin-bottom: 0;
        }
    }
}

.bottom-part-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;

    &:after {
        position: absolute;
        content: '';
        background: url('../images/back.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        top: -12%;
        left: 0;
        right: 0;
        z-index: -1;
    }
}

.auth-wrapper {
    display: flex;

    .right-panel {
        max-width: calc(100% - 709px);
        flex-basis: calc(100% - 709px);
        padding: 40px 64px;
        background: var(--color-fd);
        height: 100vh;
        overflow-y: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .innr-logo {
            margin-bottom: 80px;
            max-width: 298px;
            min-width: 298px;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.auth-form {
    border: 1px solid var(--color-d9);
    box-shadow: 0px 0px 40px 0px #0057FF33;
    background: var(--color-white);
    border-radius: 24px;
    padding: 40px;

    h4 {
        color: var(--color-black);
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0;
    }

    p {
        color: var(--color-7b);
        font-size: 16px;
        margin-bottom: 0;
        font-style: italic;
    }
}

.remember-innr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    .forgot-password {
        color: var(--color-52);
        font-size: 14px;
        font-weight: 600;

        &:hover {
            opacity: 0.6;
        }
    }
}

.sub-footer {
    padding-top: 40px;

    p {
        color: var(--color-black);
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;

        &.copiright {
            color: var(--color-7b);
            font-weight: 400;

            a {
                color: var(--color-7b);
                text-decoration: none;
            }
        }

        a {
            color: var(--color-7bf);
            text-decoration: underline;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
}

.otp-input {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: var(--color-black);
    border: 1px solid var(--color-d9);
    border-radius: 10px;
    outline: none;
    transition: all 0.2s ease-in-out;
    background-color: transparent;

    &::placeholder {
        color: rgba(0, 0, 0, 0.16);
    }
}

.otp-input:focus {
    border-color: #2196f3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
    background-color: #fff;
}

.security-code {
    p {
        margin-bottom: 40px;
        font-size: 16px;
        color: var(--color-7b);
    }
}

.resend-code {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    li {
        padding-left: 24px;
        margin-left: 12px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 9px;
            height: 9px;
            border-radius: 100%;
            background: rgba(75, 75, 75, 0.4);
        }
        &:first-child {
           padding-left: 0;
           margin-left: 0;
           &:after {
            display: none;
           }
        }

        a {
            font-weight: 600;
            color: #1C1C1C;
            text-decoration: underline;
            &:hover {
                color: var(--color-blue);
            }
        }
    }
}