.left-panel {
    &.register {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 60px;
    }
}

.register-info {
    text-align: center;
    position: relative;
    padding-top: 130px;

    .shape {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        img {
            width: 100%;
        }
    }

    .info-icon {
        display: block;
        margin-bottom: 42px;
    }

    h1 {
        font-size: 72px;
        font-weight: 700;
        color: var(--color-white);
        margin-bottom: 0;
    }
}

.step-list {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    flex-wrap: wrap;
    margin-bottom: 56px;
    position: relative;
    z-index: 1;

    &:after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        border-top: 2px dashed #B7B7B7;
        top: 13px;
        z-index: -1;
        margin: auto;
        width: 95%;
    }

    li {
        text-align: center;

        &.active {
            span {
                border-color: var(--color-7bf);

                &:after {
                    background: var(--color-7bf);
                }
            }

            p {
                color: var(--color-7bf);
            }
        }

        &.completed {
            span {
                background: var(--color-7bf);
                border-color: var(--color-7bf);

                &:after {
                    display: none;
                }

                img {
                    display: block;
                }
            }
        }

        span {
            border: 2px solid rgba(183, 183, 183, 1);
            background: var(--color-white);
            width: 25px;
            height: 25px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            img {
                display: none;
            }

            &:after {
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background: transparent;
                width: 13px;
                height: 13px;
                border-radius: 100%;
            }
        }

        p {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 600;
            color: var(--color-4b);
        }
    }
}

.auth-form {
    .form-txt {
        font-size: 14px;
        font-weight: 500;
        font-style: italic;
        color: var(--color-52);
        text-decoration: underline;
        margin-top: 26px;
    }
}
.radio-list {
    li {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.verify-innr {
    position: relative;
    .btn {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
    }
}
.password {
    position: relative;
    .password-icon {
        position: absolute;
        right: 16px;
        top: 50%;
        transform:translateY(-50%);
    }
}
.btn-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.radio-list.grid {
    column-count: 2;
    column-gap: 64px;
    max-width: 144px;
    li {
        width: auto;
    }
}
.explore-otr {
    &:nth-child(1) {
        input:checked~ .explore-innr {
            border: 1px solid #CF9F00;
            background: #FFFCF2;
        }
        .explore-img {
            background: #CF9F00;
            border: 1px solid #83670A;
        }
    }
    &:nth-child(2) {
        input:checked~ .explore-innr {
            border: 1px solid #F46264;
            background: #FFF2F2;
        }
        .explore-img {
            background: #F46264;
            border: 1px solid #BA0609;
        }
    }
    &:nth-child(3) {
        input:checked~ .explore-innr {
            border: 1px solid #9362F4;
            background: #f0f0fb;
        }
        .explore-img {
            background: #9362F4;
            border: 1px solid #44169F;
        }
    }
    &:nth-child(4) {
        input:checked~ .explore-innr {
            border: 1px solid #00B9C9;
            background: #e6f2f2;
        }
        .explore-img {
            background: #00B9C9;
            border: 1px solid #108994;
        }
    }
    &:nth-child(5) {
        input:checked~ .explore-innr {
            border: 1px solid #10BB18;
            background: #e1f0e1;
        }
        .explore-img {
            background: #10BB18;
            border: 1px solid #057E0B;
        }
    }
    &:nth-child(6) {
        input:checked~ .explore-innr {
            border: 1px solid #BB108D;
            background: #e7d9e3;
        }
        .explore-img {
            background: #BB108D;
            border: 1px solid #53023e;
        }
    }
}
.explore-innr {
    border: 1px solid #CDE0FF;
    border-radius: 24px;
    padding: 32px 15px;
    display: block;
    width: 100%;
    min-height: 240px;
    transition: all 0.5s;
    .explore-img {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 16px;
    }
    p {
        font-weight: 600;
        font-size: 24px;
        color: var(--color-black);
        font-style: normal;
        margin-bottom: 0;
    }
}
.explore-otr  {
    .checkbox-container {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}
p.info-txt {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-7b);
    margin-bottom: 0;
    margin-top: 4px;
}
.inner-auth-form {
    border: 1px solid #CDE0FF;
    border-radius: 24px;
    padding: 24px;
}
.review-hdr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
        font-size: 24px;
        font-weight: 600;
        color: var(--color-black);
        margin-bottom: 0;
    }
    .edit-icon {
        cursor: pointer;
    }
}
.sub-hdr {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-7b);
    margin-bottom: 4px;
    font-style: normal;
}
p.sub-para {
    font-size: 16px;
    font-weight: 600;
    color: #1C1C1C;
    margin-bottom: 0;
    font-style: normal!important;
    &.back {
        background: #FFFCF2;
        padding: 4px 12px;
        display: inline-block;
    }
}
.mb-16 {
    margin-bottom: 16px;
}
.review-innr-box {
    border: 1px solid #B9D4FF;
    border-radius: 24px;
    padding: 24px;
}
.auth-form-innr {
    border: 1px solid #3F85D8;
    background: #F2F7FF;
    padding: 40px 24px;
    border-radius: 24px;
}
.auth-form {
    ul.nav-tabs {
        margin-bottom: 40px;
        gap: 40px;
        border: 0;
        li.nav-item {
            a.nav-link {
                font-size: 24px;
                font-weight: 500;
                color: var(--color-7b);
                padding: 0;
                border: 0!important;
                border-bottom: 4px solid transparent!important;
                padding-bottom: 7px;
                transition: all 0.5s;
                &.active {
                    border-color: var(--color-blue)!important;
                    color: var(--color-black);
                    font-weight: 700;
                }
            }
        }
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        border: 0;
        color: var(--color-black);
        font-weight: 700;
    }
}
.check-list {
    li {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}