.left-panel {
    &.register {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 60px;
    }
}

.register-info {
    text-align: center;
    position: relative;
    padding-top: 130px;

    .shape {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        img {
            width: 100%;
        }
    }

    .info-icon {
        display: block;
        margin-bottom: 42px;
    }

    h1 {
        font-size: 72px;
        font-weight: 700;
        color: var(--color-white);
        margin-bottom: 0;
    }
}

.step-list {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    flex-wrap: wrap;
    margin-bottom: 56px;
    position: relative;
    z-index: 1;

    &:after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        border-top: 2px dashed #B7B7B7;
        top: 13px;
        z-index: -1;
        margin: auto;
        width: 95%;
    }

    li {
        text-align: center;

        &.active {
            span {
                border-color: var(--color-7bf);

                &:after {
                    background: var(--color-7bf);
                }
            }

            p {
                color: var(--color-7bf);
            }
        }

        &.completed {
            span {
                background: var(--color-7bf);
                border-color: var(--color-7bf);

                &:after {
                    display: none;
                }

                img {
                    display: block;
                }
            }
        }

        span {
            border: 2px solid rgba(183, 183, 183, 1);
            background: var(--color-white);
            width: 25px;
            height: 25px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            img {
                display: none;
            }

            &:after {
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background: transparent;
                width: 13px;
                height: 13px;
                border-radius: 100%;
            }
        }

        p {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 600;
            color: var(--color-4b);
        }
    }
}

.auth-form {
    .form-txt {
        font-size: 14px;
        font-weight: 500;
        font-style: italic;
        color: var(--color-52);
        text-decoration: underline;
        margin-top: 26px;
    }
}
.radio-list {
    li {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.verify-innr {
    position: relative;
    .btn {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
    }
}